transformers
flask
sentence-transformers
faiss-cpu
numpy
pandas
gunicorn
fastapi 
uvicorn 
langchain 
openai   
pypdf
chromadb
python-decouple
tiktoken
lark
streamlit>=1.30.0
langchain_community
langchain-huggingface
langchain-openai
pysqlite3-binary
