transformers
flask
sentence-transformers
faiss-cpu
numpy
pandas
gunicorn
fastapi 
uvicorn 
langchain 
openai   
pypdf
chromadb
streamlit
python-decouple
tiktoken
lark
langchain_community
langchain-huggingface
langchain-openai

